/*********************************
 * Body background color
 *********************************/
body {
  background: blanchedalmond;
}

/*********************************
 * Set a border around each element
 *********************************/
* {
    border: 1px solid mediumvioletred;
} 

/*********************************
 * Configure the class named container and its child elements
 * These settings apply when the screen is less than 600 px
 *********************************/
 .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  text-align: center;
}

.row-a {
  flex-grow: 1;
  background-color: rgb(248, 199, 140);
}

.row-b {
  flex-grow: 3;
  background-color: rgb(83, 199, 199);
}

.row-c {
  flex-grow: 1;
  background-color: rgb(190, 190, 132);
}

/********************************
 * Change the sceeen appearance if the screensize is 600px or more:
 *********************************/
 @media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .row-a {
    width: 100%;
  }

  .container > div {
    margin: 1em;
    background-color: lightcoral;
  }
}

